@font-face {
    font-family: 'Titillium Web';
    src: local('Titillium'), url(./TitilliumWeb-SemiBold.ttf) format('truetype') ;
    font-weight: 500;
  }
  @font-face {
    font-family: 'Titillium Web';
    src: local('Titillium'), url(./TitilliumWeb-Bold.ttf) format('truetype') ;
    font-weight: bold;
  }
  @font-face {
    font-family: 'Titillium Web';
    src: local('Titillium'), url(./TitilliumWeb-Light.ttf) format('truetype') ;
    font-weight: 300;
  }