.avtarName{
    display: flex;
    align-items: center;
    margin-bottom: 0;
    a{
        display: flex;
        text-decoration: none;
        align-items: center;
    }
}
.nameDisplay{
    color: #0A3453;
    font-weight: bold;
}