.ql-editor strong{    
    font-weight: bold;
}

.quill .ql-container.ql-snow{
    position: relative;
}


.ql-snow .ql-tooltip {
    position: absolute;
    left: 10px !important;
    top: 0px !important;
    box-sizing: border-box;
}
