.groupSummary .ant-card-head{
    background: #0A3453;
    color: #fff;
}
.groupSummary .ant-card-grid{
    padding: 6px;
}
.groupSummary .ant-card-body{
    padding: 1px;
}
.groupSummary{
    border: 1px solid #0A3453;
    height: 440px;
}
.threeCardGroupSummary .ant-card-head{
    background: #0A3453;
    color: #fff;
}
.threeCardGroupSummary .ant-card-grid{
    padding: 8px;
}
.threeCardGroupSummary .ant-card-body{
    padding: 1px;
}
.threeCardGroupSummary{
    border: 1px solid #0A3453;
    height: 440px;
}