.cardStyle .ant-card-body{
    padding: 1px !important;
}

.cardStyle .ant-card-grid{
    padding: 10px !important;
}

.cardStyle .ant-card-head{
    background: #0A3453;
    color: #fff;
}
.cardStyle1{
    border: 1px solid #0A3453;
}
.cardStyle1 .ant-card-body{
    padding: 1px !important;
    margin-bottom: 2px;
}

.cardStyle1 .ant-card-grid{
    padding: 15px !important;
}

.cardStyle1 .ant-card-head{
    background: #0A3453;
    color: #fff;
}
.cardStyle{
    border: 1px solid #0A3453;
}